<p><%= flash[:alert] %></p>
<h2>리뷰 쓰기</h2>

<form action="/book_reviews/write_complete" method="post">
  <input type="hidden" name="post_id" value="<%= @book_number %>">
  <p>제목: <input type="text" name="post_title" placeholder="제목을 입력하세요."></p>
  <p>내용: <textarea name="post_content" placeholder="내용을 입력하세요."></textarea></p>
  <input type="submit" value="추가하기">
</form>
