<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 text-center">
      <img src="/assets/logo.png" style="width:300px; margin-top:100px; margin-bottom:20px;">
      <form action="/books/search_list" method="post">
        <p><input class="form-input-main" name="search_data" placeholder="Bookle 검색"></input></p>
      </form>
      <nav class="navbar">
        <ul class="nav" style="margin-left:15%;">
          <li><a href="/books/posts">전체목록</a></li>
          <li><a href="/literature">문학</a></li>
          <li><a href="/history">역사</a></li>
          <li><a href="/socialscience">사회과학</a></li>
          <li><a href="/education">교육</a></li>
          <li><a href="/hobby">취미</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
