<div class="list-container">
  <div class="list-header">
    <font style="font-size:15px; color:#808080"><font color="#FF0000">"<%= @word %>"</font> 검색 결과</font>
  </div>

  <%= render :partial => "books/posts" %>
</div>
