<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <h2>책 등록하기</h2>

      <form action="/books/write_complete" method="post" enctype="multipart/form-data">
        <p style="color: #ff0000">분류:
        <select name="post_category">
          <option value="문학">문학</option>
          <option value="역사">역사</option>
          <option value="사회과학">사회과학</option>
          <option value="교육">교육</option>
          <option value="취미">취미</option>
        </select></p>
        <p><input class="form-sign" name="post_title" placeholder="제목을 입력하세요."></p>
        <p><input class="form-sign" name="post_price" placeholder="가격을 입력하세요."></p>
        <p><input class="form-sign" name="post_publicdate" placeholder="발매일을 입력하세요."></p>
        <p><textarea class="form-area" name="post_content" placeholder="내용을 입력하세요."></textarea></p>
        <p>품절여부: 
        <select name="post_out">
          <option value="판매중">판매중</option>
          <option value="품절">품절</option>
        </select></p>
        <p>사진 업로드</p>
        <p><input type="file" name="image"></p>
        <input class="btn btn-lg btn-block" type="submit" value="추가하기">
      </form>
    <div class="col-md-4">
    </div>
  </div>
</div>
